.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.menuIcon {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  z-index: 1101;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 24px 24px 24px;
  z-index: 1100;
  animation: slideIn 0.3s ease;
  z-index: 99999;
}

@keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.closeIcon {
  background: none;
  border: none;
  font-size: 2rem;
  align-self: flex-end;
  margin-bottom: 24px;
  cursor: pointer;
  color: #333;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .links {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}

.dark .sidebar {
  background: #222;
  color: #bbb;
}